In [ ]:
## For up sampling

In [ ]:
import pandas as pd
from sklearn.utils import resample

#Clase es la columna objetivo
class_counts = df['clase'].value_counts()
mean_samples = int(class_counts.mean())

df_upsampled = pd.DataFrame()

for class_name in class_counts.index:
    df_class = df[df.clase == class_name]
    if class_counts[class_name] < mean_samples:
        df_class_upsampled = resample(df_class, 
                                      replace=True, 
                                      n_samples=mean_samples,)
    else:
        df_class_upsampled = df_class
    df_upsampled = pd.concat([df_upsampled, df_class_upsampled])

# Mostrar el número de muestras por clase
print(df_upsampled.clase.value_counts())

In [5]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Supongamos que tienes las siguientes oraciones
oraciones = ['Esta es la primera oración', 'Esta es otra oración', 'Esta es la última oración']

# Y estos son tus objetivos
objetivos = ['objetivo1', 'objetivo2', 'objetivo3']

# Inicializas el "CountVectorizer"
vectorizer = CountVectorizer()

# Ajustas el modelo y aprendes el vocabulario
vectorizer.fit(oraciones)

# Ahora puedes obtener el vocabulario
vocabulario = vectorizer.get_feature_names_out()

# Y finalmente puedes transformar tus oraciones en vectores
vectores = vectorizer.transform(oraciones).toarray()

# Convertimos los vectores a un DataFrame
df = pd.DataFrame(vectores, columns=vocabulario)

# Agregamos la columna objetivo
df['objetivo'] = objetivos

df
#VIABLE

   es  esta  la  oración  otra  primera  última   objetivo
0   1     1   1        1     0        1       0  objetivo1
1   1     1   0        1     1        0       0  objetivo2
2   1     1   1        1     0        0       1  objetivo3

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Supongamos que tienes el siguiente DataFrame
df = pd.DataFrame({
    'columna1': ['categoría1', 'categoría2', 'categoría1', 'categoría3','categoria0'],
    'columna2': ['categoríaA', 'categoríaB', 'categoríaA', 'categoríaC','categoriaD'],
    'objetivo': ['clase1', 'clase2', 'clase1', 'clase2','clase3']
})

# Inicializas el "LabelEncoder"
le = LabelEncoder()

# Codificas la columna objetivo
df['objetivo'] = le.fit_transform(df['objetivo'])

# Inicializas el "OneHotEncoder"
ohe = OneHotEncoder()

# Realizas la codificación One-Hot para las columnas categóricas
df_categoricas = pd.DataFrame(ohe.fit_transform(df[['columna1', 'columna2']]).toarray(), columns=ohe.get_feature_names_out(['columna1', 'columna2']))

# Concatenas el DataFrame original (sin las columnas categóricas) con el nuevo DataFrame codificado
df_final = pd.concat([df.drop(['columna1', 'columna2'], axis=1), df_categoricas], axis=1)

df_final
#VIABLE

,objetivo,columna1_categoria0,columna1_categoría1,columna1_categoría2,columna1_categoría3,columna2_categoriaD,columna2_categoríaA,columna2_categoríaB,columna2_categoríaC
0,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer


df = pd.DataFrame({
    'columna1': ['texto 1', 'texto 2', 'texto 3', 'texto 4'],
    'columna2': ['texto A', 'texto B', 'texto C', 'texto D'],
    'objetivo': ['clase1', 'clase2', 'clase1', 'clase2']
})


vectorizer = TfidfVectorizer()

# Ajustas el modelo y transformas cada columna de texto
for columna in ['columna1', 'columna2']:
    vectores = vectorizer.fit_transform(df[columna])
    # Convertimos los vectores a un DataFrame y los concatenamos al DataFrame original
    df = pd.concat([df, pd.DataFrame(vectores.toarray(), columns=vectorizer.get_feature_names_out())], axis=1)
    # Eliminamos la columna original
    df = df.drop(columna, axis=1)

df
## BAD

  objetivo  texto  texto
0   clase1    1.0    1.0
1   clase2    1.0    1.0
2   clase1    1.0    1.0
3   clase2    1.0    1.0

In [25]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Supongamos que tienes el siguiente DataFrame
df = pd.DataFrame({
    'columna1': ['texto de', 'texto 2', 'texto 3', 'texto 4'],
    'columna2': ['texto mA', 'texto mB', 'texto mC', 'texto fD'],
    'objetivo': ['clase1', 'clase2', 'clase1', 'clase2']
})

# Ajustas el modelo y transformas cada columna de texto
for columna in ['columna1', 'columna2']:
    # Inicializas un "CountVectorizer" diferente para cada columna
    vectorizer = CountVectorizer()
    vectores = vectorizer.fit_transform(df[columna])
    # Convertimos los vectores a un DataFrame y los concatenamos al DataFrame original
    df = pd.concat([df, pd.DataFrame(vectores.toarray(), columns=[palabra for palabra in vectorizer.get_feature_names_out()])], axis=1)
    # Eliminamos la columna original
    df = df.drop(columna, axis=1)
## Aqui el error es porque me devuelve la columna texto 2 veces 
df

  objetivo  de  texto  fd  ma  mb  mc  texto
0   clase1   1      1   0   1   0   0      1
1   clase2   0      1   0   0   1   0      1
2   clase1   0      1   0   0   0   1      1
3   clase2   0      1   1   0   0   0      1

In [38]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Supongamos que tienes el siguiente DataFrame
df = pd.DataFrame({
    'columna1': ['texto de', 'texto 2', 'texto 3', 'texto 4'],
    'columna2': ['texto de', 'texto de', 'texto mC', 'texto fD'],
    'objetivo': ['clase1', 'clase2', 'clase1', 'clase2']
})

# Ajustas el modelo y transformas cada columna de texto
for columna in ['columna1', 'columna2']:
    # Inicializas un "CountVectorizer" diferente para cada columna
    vectorizer = CountVectorizer()
    vectores = vectorizer.fit_transform(df[columna])
    # Convertimos los vectores a un DataFrame y los concatenamos al DataFrame original
    df = pd.concat([df, pd.DataFrame(vectores.toarray(), columns=[palabra for palabra in vectorizer.get_feature_names_out()])], axis=1)
    # Eliminamos la columna original
    df = df.drop(columna, axis=1)

df

  objetivo  de  texto  de  fd  mc  texto
0   clase1   1      1   1   0   0      1
1   clase2   0      1   1   0   0      1
2   clase1   0      1   0   0   1      1
3   clase2   0      1   0   1   0      1